<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="900px">
    <form
      class="mt-60"
      #clientesFrm="ngForm"
      (ngSubmit)="createCliente(); clientesFrm.form.reset()"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dados do Cliente</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input
                  matInput
                  id="nome"
                  name="nome"
                  [(ngModel)]="cliente.nome"
                  required
                  placeholder="Ex: José da Silva"
                />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>E-mail</mat-label>
                <input
                  matInput
                  id="email"
                  name="email"
                  [(ngModel)]="cliente.email"
                  required
                  email
                  placeholder="Ex: jose.silva@email.com"
                />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>CPF</mat-label>
                <input
                  matInput
                  id="cpf"
                  name="cpf"
                  mask="000.000.000-00"
                  [(ngModel)]="cliente.cpf"
                  required
                  placeholder="Ex: 123.456.789-00"
                />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>Data de Nascimento</mat-label>
                <input
                  matInput
                  id="dataNascimento"
                  name="dataNascimento"
                  [(ngModel)]="cliente.dataNascimento"
                  required
                  mask="00/00/0000"
                  placeholder="Digite sua data de nascimento"
                />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>UF</mat-label>
                <mat-select
                  required
                  [(ngModel)]="cliente.uf"
                  name="uf"
                  (selectionChange)="listMunicipios($event)"
                >
                  @for (uf of estados; track uf) {
                  <mat-option [value]="uf.sigla">{{ uf.sigla }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>Municípios</mat-label>
                <mat-select required [(ngModel)]="cliente.municipio" name="municipio">
                  @for (municipio of municipios; track municipio) {
                  <mat-option [value]="municipio.nome">{{ municipio.nome }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          @if(!atualizando) {

          <button type="submit" matButton="filled">
            <mat-icon fontIcon="save"></mat-icon>
            Salvar
          </button>
          }@else {

          <button matButton="tonal">
            <mat-icon fontIcon="refresh"></mat-icon>
            Atualizar
          </button>
          }
          <button type="button" matButton="outlined" class="ml-5">
            <mat-icon fontIcon="backspace"></mat-icon>
            Limpar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
